.Pink {
    background-color: rgba(245, 138, 156, 0.644);
}
.Blue {
    background-color: rgba(78, 157, 248, 0.534);
}
.Orange {
    background-color: rgba(241, 140, 8, 0.568);
}
/* .Box {
    border: solid;
    flex-direction: row;
    padding: 2vh;
    margin-left: 20px;
    border-radius: 10px;
    border-width: 1px;
    
} */
.card-body {
    display: flex;
    justify-content: center;
    padding-bottom: 0vh;
    padding-top: 1.5vh;
}
.card-body p {
    margin-left: 5vh;
}
.Box {
    margin-top: -2vh;
    margin-bottom: 2vh;
}
.column {
    display: flex;

}


@media only screen and (max-width: 450px) {

    .column {
        display: flex;
        flex-direction: column;
    }
    .card-body {
        display: flex;
        justify-content: center;

    }
    .card-body p {
        margin-left: 1vh;
        font-size: 1.5vh;
    }
}