.Pink {
    background: pink;
}
.Box {
    border: solid;
    flex-direction: row;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    border-width: 1px;
}

.column {
    display: flex;

}