.App {
  text-align: center;
}
.h1 {
  text-align: center;
}

.backgroundActive {
  background-color: gray;
}

ul {
  list-style: none;
}
td {
  height: 15vh;
}
li {
  padding-right: 1vh;
  margin-left: -4vh;
}
.firstRow {
  background-color: rgba(245, 138, 156, 0.644);
  font-size: 2vh;
}
.secondRow {
  background-color: rgba(78, 157, 248, 0.534);
  font-size: 2vh;
}

.thirdRow {
  background-color: rgba(241, 140, 8, 0.568);
  font-size: 2vh;
}
.form {
  font-size: 2vh;

}
.column {
  display: flex;
}
.pink {
  background-color: rgba(245, 138, 156, 0.644);
}
.blue {
  background-color: rgba(78, 157, 248, 0.534);
}
.orange {
  background-color: rgba(241, 140, 8, 0.568);
}
.newsInfo {
  display: flex;
  flex-direction: column;
  width: 60vw;
  /* justify-content: center; */
  
}

.newsCard {
  text-align: center;
}
.system, .jumper, .color {
 margin-bottom: 5vh;
 margin-left: 60vh;
}

.navNav {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.roomName {
  font-size: 3vh;
}
@media only screen and (max-width: 450px) {


  .table {
    display: flex;
  }
  .times {
    display: flex;
    flex-direction: column;
  }
  .room1 {
    display: flex;
    flex-direction: column;
    font-size: 1.5vh;

  }
  td {
    display: flex;
    flex-direction: column;
    height: 6.26vh;
    width: 80vw;
  
  }
 ul {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }
 .calendar {
   margin-right: 5vh;
   
 }
 .system, .jumper, .color {
  margin-bottom: 5vh;
  margin-left: 0vh;
 }
 .newsCard {
  text-align: center
}
.newsInfo {
  display: unset;
  
  /* justify-content: center; */
  
}
p {
  padding-right: 4vh;
}
.navNav {
  margin-top: 3vh;
  margin-bottom: 1vh;
}
}

.calendar {
  margin-left: 80px;
}

